/* General */

@font-face {
  font-family: "Gyahegi";
  src: url("/src/assets/Gyahegi.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: "Gyahegi", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F5F9ED;
  color: #8C8C56;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.botonPrimario {
  background-color: #8C8C56;
  border: 1px solid #919275;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #F5F9ED;
  padding: 0.5rem 3rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}